@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;500&family=Lato:ital,wght@0,300;0,700;1,700&display=swap');

 
.historyDiv {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.historytable {
    width: 70%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Lato', sans-serif;
}

.historytable th {
    padding: 12px 15px;
    text-align: center;
    color: #1f2833;
    border: 1px solid #1f2833;

}

.historytablehead {
    font-size: 2rem;
}

.tablebody {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.row td {
    padding: 12px 15px;
    border: 1px solid #1f2833;
    text-align: center;
}

@media (max-width: 1150px) {
    .historytable{
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .historytablehead th{
        font-size: 1.5rem;
        padding: 8px 10px;
    }

    .row td {
        padding: 8px 10px;
    }
    
    .tablebody {
        font-size: 15px;
        font-family: 'Lato', sans-serif;
    }
}
@media (max-width: 660px) {
    .historytablehead {
        font-size: 1.5rem;
    }
    .tablebody {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .historytable{
        width: 100%;
    }
    .block{
        display: none;
    }
} 
